.item {
  padding: 0 0.5rem;
  background-color: rgb(233, 238, 202);
  margin: 1rem 0.3rem;
  /* padding: 0.2rem; */
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item p {
  margin: 0;
  padding: 0.5rem 0;
}

.btn {
  margin-left: 0.5rem;
  padding: 0.3rem 0.1rem;
}
