.container {
  width: 28%;
  border: 1px solid wheat;
  border-radius: 5px;
  background-color: rgba(175, 175, 175, 0.8);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 300px;
}

.list h2 {
  border-bottom: 1px solid wheat;
  text-align: center;
  padding: 0.75rem;
  margin: 0;
  color: var(--main-header-color);
}
